{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href='{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}'>
    <title>TixIT</title>
  </head>
  <body>
    <!-- The index page. Don't need to touch it much. It's in templates
        directory. Might put a css file in templates too. :)-->
<div ng-app="app">
  <!-- Below is the ng view that partials will load into. -->
  <div ng-view>

  </div>
</div>
  <!-- End partial view -->

</div>

  <script type='text/javascript' src='{% static "bower_components/angular/angular.min.js" %}'></script>
  <script type='text/javascript' src='{% static "bower_components/angular-route/angular-route.min.js" %}'></script>
  <script type='text/javascript' src='{% static "bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" %}'></script>
  <script type='text/javascript' src='{% static "bower_components/angular-cookies/angular-cookies.min.js" %}'></script>
  <script type='text/javascript' src='{% static "app/app.js" %}'></script>
  <script type='text/javascript' src='{% static "app/controllers/login.js" %}'></script>
  <script type='text/javascript' src='{% static "app/controllers/home.js" %}'></script>
  <script type='text/javascript' src='{% static "app/controllers/events.js" %}'></script>
  <script type='text/javascript' src='{% static "app/controllers/tixit.js" %}'></script>
  <script type='text/javascript' src='{% static "app/controllers/new_event.js" %}'></script>

</body>

</html>
