<div class="container">

  <div class="row col-sm-12">

  </div>
  <div class="row col-sm-1">

  </div>
  <div class="col-sm-10">
<div ng-model="events">

</div>
  <table class="table table-striped" >
    <tr>
    <th class="">Name</th>
    <th class="">Start Date</th>
    <th class="">End Date</th>
    <th class="">Description</th>
    <th class="">City</th>
    <th class="">Venue</th>
    <th class="">GET IT!</th>
    </tr>
    <tr ng-repeat='event in events'>
      <td class="">((event.fields.name))</td>
      <td class="">((event.fields.startDate))</td>
      <td class="">((event.fields.endDate))</td>
      <td class="">((event.fields.description))</td>
      <td class="">((event.fields.city))</td>
      <td class="">((event.fields.venueName))</td>
      <td>
        <button type="button" class="btn btn-primary">
            Go to event!
        </button>
      </td>

    </tr>

  </table>

</div>
<div class="col-sm-1">

</div>
</div>
