<div class="container">
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class='col-sm-4'>
      <form action='/createUser/' method='post' class="form-signin">
        <h2 class="form-signin-heading">Please create user</h2>
        <label for="firstname" class="sr-only">First Name</label>
        <input ng-model='register.firstname' name='firstname' type="text" id="inputFirstName" class="form-control" placeholder="First Name" required="" autofocus="">
        <label for="inputLastname" class="sr-only">Last Name</label>
        <input ng-model='register.lastname' name='lastname' type="text" id="inputLastName" class="form-control" placeholder="Last Name" required="" autofocus="">
        <label for="userName" class="sr-only">User Name</label>
        <input ng-model='register.username' name='username' type="text" id="userName" class="form-control" placeholder="User Name" required="">

        <label for="inputEmail" class="sr-only">Email address</label>
        <input ng-model='register.email' name='email' type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input ng-model='register.password' name='password' type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click='register.createUser()'>Sign in</button>
      </form>
    </div>
    <div class="col-sm-4">
    </div>
</div>

</div>
