<div class="container">
  <div class="row">
    <div class="col-sm-12">

    </div>

  </div>
  <div class="row">
    <!-- <div class="col-sm-4">

    </div> -->
    <div class="col-sm-6">

<form action='/new_event/' method='post' class='form-new-event'>
  <div class="form-group">
    <label for="eventName">Event Name</label>
    <input name="eventname" required type="text" class="form-control" placeholder="Event">
  </div>
  <div class="form-group">
    <label for="eventDescription">Event Description</label>
    <input name="eventdescription" required type="text" class="form-control" placeholder="Description">
  </div>
  <div class="form-group">
    <label for="eventCity">City</label>
    <input name="city" required type="text" class="form-control" placeholder="City">
  </div>
  <div class="form-group">
    <label for="eventVenue">Event Venue</label>
    <input name="eventvenue" required type="text" class="form-control" placeholder="Venue">
  </div>
  <div class="form-group">
    <label for="eventAttendees">Attendee Limit</label>
    <input name="limit" required type="number" class="form-control" placeholder="Limit">
  </div>
</div>



  <!-- Date Picker / calendar -->
  <div class='col-sm-6'>
  <style>
    .full button span {
      background-color: limegreen;
      border-radius: 32px;
      color: black;
    }
    .partially button span {
      background-color: orange;
      border-radius: 32px;
      color: black;
    }
  </style>
  <div ng-controller="NewEventCtrl">

      <h4>Date: </h4>
      <div class="row">
        <div class="col-md-6">
          <p class="input-group">
            <input name="startdate" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <!-- <h4>End: </h4> -->
        <div class="col-md-6">
          <p class="input-group">
            <input name="enddate" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div>

          <h4>Selected Date</h4>
          <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>
      </div>
      <div class="row">
        <!-- <div class="col-md-6">
          <label>Format: <span class="muted-text">(manual alternate <em>{{altInputFormats[0]}}</em>)</span></label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
        </div> -->
      </div>

      <hr />
      <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
      <!-- <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button> -->
      <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
      <!-- <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button> -->
  </div>
</div>

  <!-- End Calendar  -->

</div> <!--End Form Group and Calendar Div -->

</form> <!-- End Form -->
<!-- <div class="col-sm-4">

</div> -->
</div>

<!-- submit button -->
<div class="row">
  <div class="col-sm-4">

  </div>
  <div class="col-sm-4">

  <button type="submit" class="btn btn-primary btn-block">Submit</button>
</div>
<div class="col-sm-4">

</div>
</div>
</div>
